@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-weight: 700;
    background-image: url(clouds-the-simpsons.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    
}

a{
    color: hsl(11.4, 87.72%, 50.29%);
}
figcaption {
    font-size: 35px;
    }
h1 a {
    color: hsl(11.4, 87.72%, 50.29%);
    font-size: 60px;
    
}
h2{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 40px;
}
p {
    font-size: 25px;
}
a:hover {
    color: hsl(52.97,95.98%,48.82%)
}
input{
    padding: 4px;
}

input:invalid, textarea:invalid {
    border: 2px solid hsl(0, 50%, 50%);
}

#welcomeMessage{
    color: hsl(11.4, 87.72%, 50.29%);

}