@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-weight: 700;
    
}

a{
    color: hsl(11.4, 87.72%, 50.29%);
}
figcaption {
    font-size: 35px;
    }
h1 a {
    font-size: 50px;
}
h2{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 40px;
}
p {
    font-size: 25px;
}
a:hover {
    color: hsl(11.4, 87.72%, 70.29%);
}